@{
    ViewBag.Title = "Contact";
}



<div class="has-bg-img">
    <h1 style="color:blue";> Ai intrebari? Contacteaza-ne!</h1>
    <h3 style="color:blue";>Echipa noastra iti va raspunde in cel mai scurt timp.</h3>
    <img class="bg-img" src="https://elements-cover-images-0.imgix.net/d1377c45-c255-4fba-824b-719606ff01f8?auto=compress%2Cformat&fit=max&w=900&s=88c8323e6dd144e2816d7a142cd42010" >
</div>

<div class="col-sm-3">
    <div class="well">
        <h4>Scrie-ne!</h4>
        <p><span class="glyphicon glyphicon-envelope"></span>dupascoala@gmail.com</p>
    </div>
</div>
<div class="col-sm-3">
    <div class="well">
        <h4>Suna-ne!</h4>
        <p><span class="glyphicon glyphicon-phone"></span>0760997190</p>
    </div>
</div>
<div class="col-sm-3">
    <div class="well">
        <h4>Fa-ne o vizita!</h4>
        <p><span class="glyphicon glyphicon-home"></span>Arad, Str. Nicolae Branzeu, 305</p>
    </div>
</div>

